.wrapper {
  padding: 48px 95px;
  max-width: 1280px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.logo > img {
  width: 100%;
}

.shareWrapper {
  background-color: #fafafa;
}
.innerWrapper {
  padding: 48px 95px;
  max-width: 1280px;
  text-align: center;
  margin: 0 auto;
}
.title {
  margin-bottom: 24px;
}
.social {
  display: flex;
  justify-content: space-between;
  width: 144px;
  margin: 0 auto;
  margin-bottom: 88px;
}

.pWrapper {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 95px 48px;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}
.paymentWrapper {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 10px 20px rgba(0, 0, 0, 0.04);
  padding: 64px 84px;
}

.payment {
  display: block;
  justify-content: space-between;
}
.sliderWrap {
  position: relative;
  width: 60%;
}
.paymentWrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nextBtn {
  min-width: 200px !important;
}
.input {
  display: block;
  width: 100%;
}

.input:hover,
.input:active {
  background-color: inherit !important;
}
.slider {
  position: absolute;
  left: 6;
  right: 6;
  padding: 0;
  bottom: -1px;
  width: calc(100% - 12px);
}
.sumText {
  margin-bottom: 24px;
}
.sliderRange {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  color: #b3b6ba;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

@media screen and (max-device-width: 959px) {
  .imgP {
    width: 40%;
  }
  .imgP > img {
    width: 100%;
  }
  .paymentWrapper {
    padding: 48px 64px;
  }
  .nextBtn {
    min-width: auto !important;
  }
}
@media screen and (max-device-width: 599px) {
  .paymentWrapper {
    padding: 24px 32px;
  }
  .paymentWrap {
    justify-content: flex-end;
  }
  .sliderWrap {
    width: 100%;
  }
  .nextBtn {
    margin-top: 24px !important;
    min-width: 100% !important;
  }
}
